@import url('https://fonts.googleapis.com/css2?family=K2D&family=Lexend:wght@300;500;700&family=Roboto+Condensed:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.header-a {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.header-logo {
    width: 180px;
}

.header-ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.header-li {
    display: flex;
    align-items: center;
}

.header-li:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.15);
}

.header-button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #1ECE43;
    padding: 10px 40px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 16px;
}

