*{margin:0}

/* CALCULADORA */

.calc-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:0;
}

.calc {
    width: 100%;
    font-family: Lexend,'Roboto Condensed', K2d;
    padding: 20px 0;
    align-items:center;
    justify-content: start;
    text-align: center;
    background-image: url('./fundo.png');
    background-size: cover;
    color: white;
}

.questao {  
    width: 100%;
    font-size: 22px;
    margin: 10px 0;
}

.questao input {
    width: 45%;
    padding: 8px 15px;
    color:black;
    background: linear-gradient(21deg, #172C20, #1ECE43,);
    display: inline-block;
    border-radius: 20px;
    font-size:22px;
    position: relative; 
}
.btn-calcular {
    font-family: Lexend,'Roboto Condensed', K2d;
    font-size: 20px;
    color: #ffffff;
    border-radius: 8px;
    border: none;
    justify-content: center;
    background-color: #1ECE43;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-calcular:hover{
    background-color: #172C20;
    color:white
}

/* RESULTADO */

.resultado {
    width: 50%;
    padding: 0 20px;
    font-family: Lexend,'Roboto Condensed', K2d;
    background-color: #172C20;
    color: white;
    text-align: center;
    align-items:center;
    justify-content: center;
    display:none;
    font-size: 19px;
}

.corEmpresa {
    color: #1ECE43;
}

.mostrar.calc{
    display: flex;
    width: 100%;
    background-color: #172C20;
    flex-direction: column;
}

.mostrar.resultado{
    display: flex;
    width: 70%;
    background-color: #172C20;
    flex-direction: column;
}