@import url('https://fonts.googleapis.com/css2?family=K2D&family=Lexend:wght@300;500;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0px 0px;
    box-sizing: border-box;
}

.cadastro-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
}

.background{
    width: 40%;
    background-image: url('../assets/Imagens/img_cadastro.png');
    background-size: cover;
}

.form-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form{
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border: 4px solid #009A46;
    border-radius: 70px;
    

    background-color: lightgrey;

    font-family: Lexend;
}

.cabecalho-form{
    height: 30%;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho-form img{
    width: 100px;
}

.cabecalho-form h1{
    margin:0;
}

.form-wrapper .container {
    width: 550px;
    height: 580px;
    display: flex;
    justify-content: center;
}


.form-group {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.row-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

    .row-group .flex-input {
        width: 45%;
        text-align: center;
    }


.form input{
    width: 100%;
    height: 25px;
    border: 2px #7c7b7b solid;
    border-radius: 8px;
    padding: 0px 10px;
}

.form input:focus{
    outline: none;
    border: 3px #009A46 solid;

}

.flex-input span{
    font-weight: bold;
}

.frase{
    font-size:14px;
}

.flex-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form a{
    color: #009A46;
    font-size: 13px;
}

.form a:hover{
    color: #04d361;
}

.btn-entrar{
    color: white;
    font-weight: bold;
    font-size: 11px;
    background-color: #009A46;
    width: 65%;
    height: 35px;
    border: 3px rgba(255, 255, 255, 0.753) solid;
    border-radius: 18px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.445); 
    margin: 10px 0;
} 

.btn-entrar:hover{
    cursor: pointer;
    background-color: #04d361;
}