@import url('https://fonts.googleapis.com/css2?family=K2D&family=Lexend:wght@300;500;700&family=Roboto+Condensed:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'K2D';
}


.dashboard-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #032311;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 150px;

}

.sidebar .logo {
    width: 64px;
}

.sidebar .perfil {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .img-perfil {
    width: 128px;
    height: 128px;
}

.nome-perfil {

    font-family: 'K2D';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;

    color: #FFFFFF;
}

.desc-perfil {
    font-family: 'K2D';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    text-align: center;

    color: #FFFFFF;

    opacity: 0.8;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.sidebar .list-item a{
    font-family: 'K2D';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: #FFFFFF;
}

.list-item{
    text-align: center;
    
}

.list-item a:hover{
    cursor: pointer;
    color:#1ECE43;
    
}



.dashboard-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D9D9D9;
}

    .dashboard-wrapper .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

.grupo-card {
    width: 80%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    gap: 10px;
}
    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .grupo-card .row {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    .grupo-card .card {
        width: 20%;
        height: 28vh;
        border-radius: 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        font-family: 'K2D';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 31px;
        text-align: center;

        color: #FFFFFF;
    }

    .texto-card {
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 16px;
    }

    .card .dados-card {
        font-size: 30px;
    }

    .card-1 {
        background-color: #0fb692;
    }

    .card-2 {
        background-color: #098ae0;
    }

    .card-3 {
        background-color: #0400ff;
    } 

    .card-4 {
        background-color: #02007c;
    }

    .card-date {
        font-family: 'K2D';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
    }

.grafico {
    height: 45vh; 
    width: 38vw;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    display: flex;
    padding: 5px;
}

.graficos-container{
    width:100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
    align-items: center;
}

    .graficos-container .row {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

.norte_leste{
    display:none;
}

.norte_oeste{
    display:none;    
}

.sul_leste{
    display:none;    
}

.sul_oeste{
    display:none;    
}

.graph {
width: 600px;
height: 400px;

}

.chart {
    border-radius: 20px;
    background-color: white;
    padding: 20px;
}

.alertas {
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.alerta {
    display: flex;
    width: 250px;
    height: 100px;
    font-family: 'K2D';
    transition: all .4s ease-in-out;
    transform: translateX(250px);
}

.al-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #032311;
    height: 100%;
    border-radius: 8px 0 0 8px;
    width: 75px;
}

.al-icone img {
    width: 40px;
    height: 40px;
}

.al-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #a9a9a9;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.popup-info {
    width: 25px;
    height: 25px;
    border: 2px solid #666666;
    border-radius: 100%;
    color: #666666;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.popup-wrapper.disable {
    display: none;
}

.popup-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.8);
}

    .popup {
        width: 600px;
        height: 400px;
        background-color: #D9D9D9;
        border-radius: 20px;
        padding: 15px;
    }

    .popup .container {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }

    .popup .row {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        align-items: center;
    }

    .popup .color {
        width: 80px;
        height: 80px;
    }

    .popup .color.red {
        background-color: red;
    }

    .popup .color.yellow {
        background-color: yellow;
    }

    .popup .color.green {
        background-color: green;
    }

    .popup-text {
        width: 100%;
        font-family: 'K2D';
    }

    .voltar {
        border: none;
        background: none;
        color: #666666;
        cursor: pointer;
        font-weight: 800;
        font-family: 'Lexend';
        text-decoration: underline;
        transition: all .25s ease-in-out;
    }
    
    .voltar:hover {
        color: #1ECE43;
    }

    /* SIDEBAR */

    .conteudo{
        width: 80%;
        height: 80%;
        display: none;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    
    .conteudo-item{
        display: none;
        opacity: 0;
    }

    .conteudo-img{
        display: flex;
    }

    .conteudo-img img{
        width: 130px;
        height: 160px
    }

    .conteudo-item li{
        list-style: none;
    }
        
    .item-ativo{
        animation: displayPalavras 2s forwards 0s;
        display: flex;
    }

    .conteudo .flex-link{
        width: 100%;
        height: 40%;
        text-align:center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .btn_sair{
        padding: 5px 20px;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 20px;
    }

    .flex-link a:hover{
        font-weight: bold;
    }

    .btn_sair:hover{
        cursor: pointer;
        transition: 0.3s ease-in-out;
        background-color: red;
    }
    
    .conteudo .flex-link a{
        text-transform: uppercase;
        color: white;
        text-decoration: none;

    }
    .sidebar{
        width:3.5%;
        height:120vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #2E793D;
        position: fixed;
        box-shadow: 0px 0px 10px 3px black;
        z-index: 1;
    }

    .container-sidebar{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .container-sidebar img{
        width: 130px;
        height: 160px;
    }

    .header-logo{
        display: flex;
        justify-content: center;
    }
    
    .menu{
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    .menu-button{
        width: 30px;
        height: 30px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-right: 5px;
    }
    
    .menu-button:hover{
        cursor:pointer;
    }
    
    .menu-button:active{
        transform: scale(1.1);
    }
    
    .menu-traco{
        width:25px;
        height:5px;
        background-color: white;
        border-radius: 10px;
    }

    .btn-info {
        border: 2px solid #666666;
        color: #666666;
        background-color: none;
        font-size: 24px;
        border-radius: 100%;
        position: absolute;
        right: 25px;
        bottom: 25px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    @keyframes expansao {
    
        0%{
            width: 3.5%;
            display: block;
        }
    
        100%{
            width: 20%;
            display: flex;
        }
        
    }
    
    
    @keyframes minimizar {
    
        0%{
            width: 20%;
            display: flex;
        }
    
        100%{
            width: 3.5%;
            display: block
        }
        
    }
    
    @keyframes displayPalavras {
        0%{
            opacity: 0;
        }
        
        100%{
            opacity: 1;
            display: block
        }
    }
    
    .active{
        animation: expansao 1s forwards 0s;
    }
    
    .inative{
        animation: minimizar 1s forwards 0s;
    }
    
    .desativada{
        display: none;
    }
    
    .disable{
        opacity: 0;
    }
    